<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DYREKTOR</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap"
      rel="stylesheet"
    />
    <!--add style-dyrektor.css-->
    <link rel="stylesheet" href="/static/style-dyrektor.css" />
  </head>
  <header>
    <a href=""><div class="empty"></div></a>
    <div class="head">DYREKTOR</div>
    <a href="/"><div class="wyloguj"></div></a>
  </header>
  <body>
    <div class="container">
      <a href="/dyrektor/akademiki" class="block">Akademiki</a>
      <a href="/dyrektor/pracownicy" class="block">Pracownicy</a>
    </div>
  </body>
</html>
